<!DOCTYPE html>
<html>

<head>
    <title>Power Rangers</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/villains">Villains</a></li>
            <li><a href="/rangers">Rangers</a></li>
        </ul>
    </nav>
    <h1>Welcome, <%= name %>
    </h1>
</body>

</html>