<!DOCTYPE html>
<html>

<head>
    <title>Mighty Morphin Power Rangers Villains</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            background: url('/d604atc-394e740e-33f3-4f34-828c-e220084a0f43.png') center no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
            color: white;
            position: relative;
            z-index: -1;
        }

        nav {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: red;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            transition: all 0.2s ease;
        }

        nav ul li a:hover {
            color: #333;
            background-color: #fff;
        }

        h1 {
            text-align: center;
            font-size: 50px;
            color: red;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            padding: 20px;
        }

        h2,
        p {
            color: lightgoldenrodyellow;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/villains">Villains</a></li>
            <li><a href="/rangers">Rangers</a></li>
        </ul>
    </nav>
    <h1>Mighty Morphin Power Rangers Villains</h1>
    <ul>
        <% villains.forEach(function(enemy) { %>
            <h2>
                <%= enemy.name %>
            </h2>
            <li>
                <p>Role: <%= enemy.role %>
                </p>
                <p>Powers: <%= enemy.powers %>
                </p>
                <p>Henchmen: <%= enemy.henchmen.join(", ") %></p>
            </li>
            <% }); %>
    </ul>
</body>
</html>